# Python
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.egg-info/

# Entorno
.env
.env.*
*.log

# Videos pesados (no commitear)
input/*
!input/.gitkeep
output/*
!output/.gitkeep

# Musica (mp3 grandes, propia/libre del usuario)
music/*
!music/.gitkeep

# Cache modelos Whisper
.cache/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
desktop.ini
